/* Compliant */
.mybox {
  background: -moz-linear-gradient(top,  #1e5799 0%, #7db9e8 100%);
  background: -o-linear-gradient(top,  #1e5799 0%,#7db9e8 100%);
  background: -ms-linear-gradient(top,  #1e5799 0%,#7db9e8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(100%,#7db9e8));
  background: -webkit-linear-gradient(top,  #1e5799 0%,#7db9e8 100%);
}

/* Compliant */
.mybox {
  color: red;
}

/* Missing -moz, -ms, and -o */
.mybox { /* Noncompliant ![sc=1;ec=7;el=+0]! !{Add missing gradient definitions: -ms-(linear|radial)-gradient.*, -moz-(linear|radial)-gradient.*, -o-(linear|radial)-gradient.*}! */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(100%,#7db9e8));
  background: -webkit-linear-gradient(top,  #1e5799 0%,#7db9e8 100%);
}

/* Missing old and new -webkit */
.mybox { /* Noncompliant ![sc=1;ec=7;el=+0]! !{Add missing gradient definitions: -webkit-(linear|radial)-gradient.*, -webkit-gradient.*}! */
  background: -moz-linear-gradient(top,  #1e5799 0%, #7db9e8 100%);
  background: -o-linear-gradient(top,  #1e5799 0%,#7db9e8 100%);
  background: -ms-linear-gradient(top,  #1e5799 0%,#7db9e8 100%);
}

/* Missing old and new -webkit */
 { /* Noncompliant ![sc=2;ec=3;el=+0]! !{Add missing gradient definitions: -webkit-(linear|radial)-gradient.*, -webkit-gradient.*}! */
  background: -moz-linear-gradient(top,  #1e5799 0%, #7db9e8 100%);
  background: -o-LINEAR-gradient(top,  #1e5799 0%,#7db9e8 100%);
  background: -ms-linear-gradient(top,  #1e5799 0%,#7db9e8 100%);
}
