h1 {
  color:red;
}

.mybox { } /* Noncompliant ![sc=1;ec=11;el=+0]! !{Remove this empty rule.}! */

.mybox {  /* Noncompliant ![sc=1;ec=2;el=+2]! !{Remove this empty rule.}! */

}

.mybox { /* Noncompliant ![sc=1;ec=2;el=+2]! !{Remove this empty rule.}! */
  /* a comment */
}

{} /* Noncompliant ![sc=1;ec=3;el=+0]! !{Remove this empty rule.}! */

{ /* Noncompliant ![sc=1;ec=4;el=+2]! !{Remove this empty rule.}! */

  }

/* At-rules requiring a declaration block */
@font-face {} /* Noncompliant ![sc=1;ec=14;el=+0]! !{Remove this empty rule.}! */
@media print {} /* Noncompliant ![sc=1;ec=16;el=+0]! !{Remove this empty rule.}! */
@supports (display: flex) { /* Noncompliant ![sc=1;ec=2;el=+1]! !{Remove this empty rule.}! */
}

@font-face {
  font-family: MyHelvetica;
  src: local("Helvetica Neue Bold"),
       local("HelveticaNeue-Bold"),
       url(MgOpenModernaBold.ttf);
  font-weight: bold;
}
@media print {
  body { font-size: 10pt }
}
@supports (display: flex) {
  div { display: flex; }
}

/* At-rules not requiring a declaration block */
@import url("styles.css");
@import "styles.css";
@import 'styles.css';
@import url("styles.css") print;
@import "styles.css" print;
@import 'styles.css' print;

@charset "UTF-8";
@charset 'UTF-8';
@CHARSET "UTF-8";

@namespace "http://www.w3.org/1999/xhtml";
@namespace svg "http://www.w3.org/2000/svg";

:root {
  --abc: red;
}
