.mybox {
  color: blabla; /* Noncompliant */
  color: black, green; /* Noncompliant */
  color: desaturate(black);
  color: @abc;
  color: @abc black;
  color: black @abc;
  color: black, @abc;
  color: (@abc + 2);
  color: @abc + 2;
  color: 2 + 3 / 4px;
  color: (2 + 3 / 4px);
  color: ~"ddd";
}
