mybox { /* +1 */
}

.mybox { /* +1 */
}

#mybox { /* +1 */
}

[target] { /* +1 */
}

:hover { /* +1 */
}

a:hover { /* +2 */
}

a.class:hover { /* +3 */
}

div a { /* +2 */
}

div a:hover span.myclass { /* +5 */
}

ul > div + a + li { /* + 4 */
}

@keyframes keyframes { /* +1 */
  from { margin-top: 50px; } /* +1 */
  50%  { margin-top: 150px; } /* +1 */
  to   { margin-top: 100px; } /* +1 */
}
