.mybox {
  color: red;
  COLOR: red; /* Noncompliant */
  Color: red; /* Noncompliant */
  CoLor: red; /* Noncompliant */
  *color: red;
  *Color: red; /* Noncompliant */
  background-color: red;
  Background-color: red; /* Noncompliant */
  color: rgb(255,255,255);
  color: RGB(255,255,255); /* Noncompliant */
  --ABC: red; /* Noncompliant */
  --abc-DEF: red; /* Noncompliant */
}