/* Noncompliant: inline with height */
.mybox {
  display: inline;
  height: 25px;
}

/* Noncompliant: inline-block with float */
.mybox {
  display: inline-block;
  float: left;
}

/* Noncompliant: table-cell and margin */
.mybox {
  display: table-cell;
  margin: 10px;
}

/* Compliant: inline with margin-left */
.mybox {
  display: inline;
  margin-left: 10px;
}

/* Compliant: table and margin */
.mybox {
  display: table;
  margin: 10px;
}

h1 {
  color:red;
}
