.mybox {
}

.mybox {
  color:red;
}

.mybox {
  border: 1px solid black;  /* Noncompliant: same properties with the same value */
  border: 1px solid black;
}

.mybox {
  border: 1px solid black;  /* Noncompliant: same properties with the same value */
  border: 1px solid black;  /* Noncompliant: same properties with the same value */
  border: 1px solid black;
}

.mybox {
  color: green;  /* Noncompliant: properties with the same value */
  background-color: blue;
  border: 1px solid black;  /* Noncompliant: same properties with the same value */
  border: 1px solid black;  /* Noncompliant: same properties with the same value */
  color: green;
  border: 1px solid black;
}

.mybox {
  border: 1px solid black;  /* Noncompliant: same properties with the same value */
  BORDER: 1px solid black;
}

/* Compliant: Same properties with different values, one right after the other */
.mybox {
  border: 1px solid black;
  border: 1px solid red;
}

/* Compliant: Same properties with different values, one right after the other */
.mybox {
  border: 1px solid black;
  BORDER: 1px solid red;
  border: 1px solid blue;
}

.mybox {
  border: 1px solid black;
  border: 1px solid red;  /* Noncompliant: same properties with different values but not one after the other */
  color: green;
  border: 1px solid blue;
}
