@font-face {
font-family:Icons;
src:url(../fonts/Icons.eot?#iefix) format(embedded-opentype),url(../../fonts/Icons.woff) format(woff),url(../fonts/Icons.ttf) format(truetype),url(../fonts/Icons.svg#Icons) format(svg);
font-weight:normal;
font-style:normal;
}
