@font-face {
    font-family: 'MyFontFamily';
    src: url('myfont-webfont.woff?#wohoo') format('woff'),
	     url('myfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('myfont-webfont.ttf')  format('truetype'),
         url('myfont-webfont.svg#svgFontName') format('svg');
}
