/* Noncompliant ![sl=0;effortToFix=2]! !{Reduce the number of rules. This sheet contains 11 rules, 2 more than the 9 allowed rules.}! */
h1 {
  color:red;
}
h2 {
  color:red;
}
h3 {
  color:red;
}
h4 {
  color:red;
}
h5 {
  color:red;
}
h6 {
  color:red;
}
a {
  color:red;
}
div {
  color:red;
}
@font-face {
  font-family: 'MyFontFamily';
}
@font-face {
  font-family: 'MyFontFamily2';
}
@font-face {
  font-family: 'MyFontFamily2';
}

