p {
  font-size: min(10px, 3em); /* Noncompliant ![sc=14;ec=17;el=+0]! !{Remove this usage of the obsolete / not on W3C Standards track "min" function.}! */
  font-size: max(10px, 3em); /* Noncompliant ![sc=14;ec=17;el=+0]! !{Remove this usage of the obsolete / not on W3C Standards track "max" function.}! */
}

.mybox {
  background-image: -webkit-gradient(linear, left top, right top, from(red), to(#f06d06)); /* Noncompliant */ /* Noncompliant */
  background-image: -webkit-gradient(linear, left top, right top, from(red), color-stop(0%,#9d2d64)); /* Noncompliant */ /* Noncompliant */
}
