/* Enum validation */
.mybox {
  float: left;
  float: right;
  float: none;
  float: abc; /* Noncompliant */
}

/* Enum validation */
.mybox {
  word-spacing: 10px;
  word-spacing: 10em;
  word-spacing: normal;
  word-spacing: 0;
  word-spacing: +0;
  word-spacing: -0;
  word-spacing: 0.0;
  word-spacing: 10; /* Noncompliant */
  word-spacing: abc; /* Noncompliant */
}