/* Noncompliant */
.mybox {
    width: 0px;
    width: 0.0px;
    width: 0.00px;
    width: .0px;
    width: .00px;
    width: 0%;
    width: 0.0%;
    width: 0.00%;
    width: .0%;
    width: .00%;
    padding: 10px 0px;
}

/* Compliant */
.mybox {
    width: 0;
    width: 0.0;
    width: 0.00;
    width: .0;
    width: .00;
    width: 0;
    width: 0.0;
    width: 0.00;
    width: .0;
    width: .00;
    width: .1%;
    width: .1px;
    padding: 10 0;
}

.mybox {
    angle: 0grad;
    transition-duration: 0s;
}

