/* Compliant */
h1 {
}

/* Compliant */
h1 {
  color: red;
}

/* Compliant */
h1 {
  background-color: blue;
  color: red;
}

/* Compliant */
h1 {
  background-color: blue;
  color: red;
  color: green;
}

/* Compliant */
h1 {
  background-color: blue;
  *color: red;
  width: 10px;
}

/* Compliant */
h1 {
  background-color: blue;
  _color: red;
  width: 10px;
}

/* Compliant */
@font-face {
  font-family: 'MyFontFamily';
  src: url('myfont-webfont.eot?#iefix') format('embedded-opentype'),
  url('myfont-webfont.woff') format('woff'),
  url('myfont-webfont.ttf')  format('truetype'),
  url('myfont-webfont.svg#svgFontName') format('svg');
}

/* Compliant */
h1 {
  all: unset;
  background-color: blue;
  color: red;
}

h1 { /* Noncompliant ![sc=4;ec=2;el=+4;secondary=+3]! !{Alphabetically order these rule's properties.}! */
  background-color: blue;
  color: red;
  border-color: green;
}

h1 { /* Noncompliant ![sc=4;ec=2;el=++4;secondary=+3]! !{Alphabetically order these rule's properties.}! */
  background-color: blue;
  *color: red;
  border-color: green;
}

 h1 { /* Noncompliant ![sc=5;ec=2;el=+4;secondary=+3]! !{Alphabetically order these rule's properties.}! */
  background-color: blue;
  _color: red;
  border-color: green;
}

 @font-face { /* Noncompliant ![sc=13;ec=2;el=+6;secondary=+5]! !{Alphabetically order these rule's properties.}! */
  src: url('myfont-webfont.eot?#iefix') format('embedded-opentype'),
  url('myfont-webfont.woff') format('woff'),
  url('myfont-webfont.ttf')  format('truetype'),
  url('myfont-webfont.svg#svgFontName') format('svg');
  font-family: 'MyFontFamily';
}

/* Compliant */
h1 {
  -moz-background-color: blue;
  -ms-background-color: blue;
  background-color: blue;
  color: red;
}

h1 { /* Noncompliant ![sc=4;ec=2;el=+6;secondary=+3]! !{Alphabetically order these rule's properties.}! */
  -moz-background-color: blue;
  -ms-background-color: blue;
  all: unset;
  background-color: blue;
  color: red;
}

/* Compliant */
h1 {
  abc: red;
  color: red;
}

h1 { /* Noncompliant ![sc=4;ec=2;el=+3;secondary=+2]! !{Alphabetically order these rule's properties.}! */
  color: red;
  abc: red;
}

{ /* Noncompliant ![sc=1;ec=2;el=+3;secondary=+2]! !{Alphabetically order these rule's properties.}! */
  color: red;
  abc: red;
}

 { /* Noncompliant ![sc=2;ec=2;el=+3;secondary=+2]! !{Alphabetically order these rule's properties.}! */
  color: red;
  abc: red;
}

/* Compliant */
h1 {
  zzz-#{$abc}: green;
  abc: red;
  color: red;
}

/* Compliant */
h1 {
  abc: red;
  zzz-#{$abc}: green;
  color: red;
}

/* Compliant */
@mixin my-mixin {
  abc: red;
  zzz-#{$abc}: green;
  color: red;
}

@mixin my-mixin { /* Noncompliant ![sc=17;ec=2;el=+4;secondary=+3]! !{Alphabetically order these rule's properties.}! */
  abc: red;
  zzz: green;
  color: red;
}

/* Compliant */
@include my-mixin {
  abc: red;
  zzz-#{$abc}: green;
  color: red;
}

@include my-mixin { /* Noncompliant ![sc=19;ec=2;el=+4;secondary=+3]! !{Alphabetically order these rule's properties.}! */
  abc: red;
  zzz: green;
  color: red;
}

h1 {
  @mixin my-mixin { /* Noncompliant ![sc=19;ec=4;el=+4;secondary=+3]! !{Alphabetically order these rule's properties.}! */
    abc: red;
    zzz: green;
    color: red;
  }
  @include my-mixin { /* Noncompliant ![sc=21;ec=4;el=+4;secondary=+3]! !{Alphabetically order these rule's properties.}! */
    abc: red;
    zzz: green;
    color: red;
  }
  font: {
    abc: red;
    color: red;
  }
  font: { /* Noncompliant ![sc=9;ec=4;el=+4;secondary=+3]! !{Alphabetically order these rule's properties.}! */
    abc: red;
    zzz: green;
    color: red;
  }
}