h1 {
  --abc: green;
  --my-color: green;
  --myColor: green; /* Noncompliant ![sc=5;ec=12;el=+0]! !{Rename variable "myColor" to match the regular expression: ^[-a-z]+$}! */
  --my_color: green; /* Noncompliant ![sc=5;ec=13;el=+0]! !{Rename variable "my_color" to match the regular expression: ^[-a-z]+$}! */
  --my9color: green; /* Noncompliant ![sc=5;ec=13;el=+0]! !{Rename variable "my9color" to match the regular expression: ^[-a-z]+$}! */
}
