.mybox {
  alignment-adjust: inherit;
  alignment-adjust: auto;
  alignment-adjust: baseline;
  alignment-adjust: before-edge;
  alignment-adjust: text-before-edge;
  alignment-adjust: middle;
  alignment-adjust: central;
  alignment-adjust: after-edge;
  alignment-adjust: text-after-edge;
  alignment-adjust: ideographic;
  alignment-adjust: alphabetic;
  alignment-adjust: hanging;
  alignment-adjust: mathematical;
  alignment-adjust: 10%;
  alignment-adjust: -10%;
  alignment-adjust: 10px;
  alignment-adjust: -10px;
  alignment-adjust: abc; /* Noncompliant !{Update the invalid value of property "alignment-adjust". Expected format: auto | baseline | before-edge | text-before-edge | middle | central | after-edge | text-after-edge | ideographic | alphabetic | hanging | mathematical | <percentage> | <length>}! */
  alignment-adjust: 10; /* Noncompliant */
  alignment-adjust: var (--my-property);
}