.mybox {
  align-items: inherit;
  align-items: flex-start;
  align-items: flex-end;
  align-items: center;
  align-items: baseline;
  align-items: stretch;
  align-items: abc; /* Noncompliant */
  align-items: 10; /* Noncompliant */
}