.mybox {
  alignment-baseline: inherit;
  alignment-baseline: baseline;
  alignment-baseline: use-script;
  alignment-baseline: before-edge;
  alignment-baseline: text-before-edge;
  alignment-baseline: text-after-edge;
  alignment-baseline: central;
  alignment-baseline: middle;
  alignment-baseline: ideographic;
  alignment-baseline: alphabetic;
  alignment-baseline: hanging;
  alignment-baseline: ideographic;
  alignment-baseline: mathematical;
  alignment-baseline: 10%; /* Noncompliant */
  alignment-baseline: -10%; /* Noncompliant */
  alignment-baseline: 10px; /* Noncompliant */
  alignment-baseline: -10px; /* Noncompliant */
  alignment-baseline: abc; /* Noncompliant */
  alignment-baseline: 10; /* Noncompliant */
}