.mybox {
  alignment-baseline: inherit;
  alignment-baseline: baseline;
  alignment-baseline: use-script;
  alignment-baseline: before-edge;
  alignment-baseline: text-before-edge;
  alignment-baseline: text-after-edge;
  alignment-baseline: central;
  alignment-baseline: middle;
  alignment-baseline: ideographic;
  alignment-baseline: alphabetic;
  alignment-baseline: hanging;
  alignment-baseline: ideographic;
  alignment-baseline: mathematical;
  alignment-baseline: auto;
  alignment-baseline: 10%; /* Noncompliant !{Update the invalid value of property "alignment-baseline". Expected format: auto | baseline | use-script | before-edge | text-before-edge | after-edge | text-after-edge | central | middle | ideographic | alphabetic | hanging | mathematical}! */
  alignment-baseline: -10%; /* Noncompliant */
  alignment-baseline: 10px; /* Noncompliant */
  alignment-baseline: -10px; /* Noncompliant */
  alignment-baseline: abc; /* Noncompliant */
  alignment-baseline: 10; /* Noncompliant */
}