.mybox {
  animation-iteration-count: inherit;
  animation-iteration-count: infinite;
  animation-iteration-count: 0;
  animation-iteration-count: 2.3;
  animation-iteration-count: +2.3;
  animation-iteration-count: abc; /* Noncompliant */
  animation-iteration-count: -10; /* Noncompliant */
}