.mybox {
  animation-delay: inherit;
  animation-delay: 10s;
  animation-delay: 0;
  animation-delay: -10s;
  animation-delay: +10ms;
  animation-delay: 10; /* Noncompliant */
  animation-delay: 10.5; /* Noncompliant */
  animation-delay: abc; /* Noncompliant */
}