.mybox {
  appearance: inherit;
  appearance: normal;
  appearance: icon;
  appearance: window;
  appearance: desktop;
  appearance: workspace;
  appearance: document;
  appearance: tooltip;
  appearance: dialog;
  appearance: button;
  appearance: push-button;
  appearance: hyperlink;
  appearance: radio-button;
  appearance: checkbox;
  appearance: menu-item;
  appearance: tab;
  appearance: button;
  appearance: menu;
  appearance: menubar;
  appearance: pull-down-menu;
  appearance: pop-up-menu;
  appearance: list-menu;
  appearance: radio-group;
  appearance: checkbox-group;
  appearance: outline-tree;
  appearance: range;
  appearance: field;
  appearance: combo-box;
  appearance: signature;
  appearance: password;
  appearance: 10px; /* Noncompliant !{Update the invalid value of property "appearance". Expected format: normal | icon | window | desktop | workspace | document | tooltip | dialog | button | push-button | hyperlink | radio-button | checkbox | menu-item | tab | menu | menubar | pull-down-menu | pop-up-menu | list-menu | radio-group | checkbox-group | outline-tree | range | field | combo-box | signature | password}! */
  appearance: 10; /* Noncompliant */
  appearance: abc; /* Noncompliant */
}