.mybox {
  border-width: inherit;
  border-width: thin;
  border-width: thin thin;
  border-width: thin thin thin;
  border-width: thin thin thin thin;
  border-width: thin thin thin thin thin; /* Noncompliant !{Update the invalid value of property "border-width". Expected format: <border-width>{1,4}}! */
  border-width: 10px;
  border-width: -10px; /* Noncompliant */
  border-width: 10px 10px 10px;
  border-width: 10px -10px 10px; /* Noncompliant */
  border-width: abc; /* Noncompliant */
}