.mybox {
  border-style: inherit;
  border-style: dotted;
  border-style: dotted dotted;
  border-style: dotted dotted dotted;
  border-style: dotted dotted dotted dotted;
  border-style: dotted dotted dotted dotted dotted; /* Noncompliant */
  border-style: dashed solid double dotted;
  border-style: 10; /* Noncompliant !{Update the invalid value of property "border-style". Expected format: [ none | hidden | dotted | dashed | solid | double | groove | ridge | inset | outset ]{1,4}}! */
  border-style: 10px; /* Noncompliant */
}