.mybox {
  border-top-color: inherit;
  border-top-color: red;
  border-top-color: rgb(25,25,25);
  border-top-color: 10px; /* Noncompliant */
  border-top-color: abc; /* Noncompliant */
}

.mybox {
  border-right-color: inherit;
  border-right-color: red;
  border-right-color: rgb(25,25,25);
  border-right-color: 10px; /* Noncompliant */
  border-right-color: abc; /* Noncompliant */
}

.mybox {
  border-left-color: inherit;
  border-left-color: red;
  border-left-color: rgb(25,25,25);
  border-left-color: 10px; /* Noncompliant */
  border-left-color: abc; /* Noncompliant */
}

.mybox {
  border-bottom-color: inherit;
  border-bottom-color: red;
  border-bottom-color: rgb(25,25,25);
  border-bottom-color: 10px; /* Noncompliant */
  border-bottom-color: abc; /* Noncompliant */
}
