.mybox {
  color-interpolation-filters: inherit;
  color-interpolation-filters: auto;
  color-interpolation-filters: sRGB;
  color-interpolation-filters: linearRGB;
  color-interpolation-filters: srgb;
  color-interpolation-filters: linearrgb;
  color-interpolation-filters: blabla; /* Noncompliant !{Update the invalid value of property "color-interpolation-filters". Expected format: auto | srgb | linearrgb}! */
  color-interpolation-filters: 10px;  /* Noncompliant */
}
