.mybox {
  display: inherit;
  display: none;
  display: inline;
  display: block;
  display: list-item;
  display: inline-block;
  display: inline-table;
  display: table;
  display: table-caption;
  display: table-cell;
  display: table-column;
  display: table-column-group;
  display: table-footer-group;
  display: table-header-group;
  display: table-row;
  display: table-row-group;
  display: flex;
  display: inline-flex;
  display: ruby;
  display: ruby-base;
  display: ruby-text;
  display: ruby-base-container;
  display: ruby-text-container;
  display: ruby-base;
  display: compact;
  display: marker;
  display: abc; /* Noncompliant */
  display: 0; /* Noncompliant */
}