.mybox {
  font-weight: inherit;
  font-weight: normal;
  font-weight: bold;
  font-weight: bolder;
  font-weight: lighter;
  font-weight: 100;
  font-weight: 200;
  font-weight: 300;
  font-weight: 400;
  font-weight: 500;
  font-weight: 600;
  font-weight: 700;
  font-weight: 800;
  font-weight: 900;
  font-weight: abc; /* Noncompliant !{Update the invalid value of property "font-weight". Expected format: normal | bold | bolder | lighter | 100 | 200 | 300 | 400 | 500 | 600 | 700 | 800 | 900}! */
  font-weight: 150; /* Noncompliant */
}