.mybox {
  font-stretch: inherit;
  font-stretch: normal;
  font-stretch: ultra-condensed;
  font-stretch: extra-condensed;
  font-stretch: condensed;
  font-stretch: semi-condensed;
  font-stretch: semi-expanded;
  font-stretch: expanded;
  font-stretch: extra-expanded;
  font-stretch: ultra-expanded;
  font-stretch: abc; /* Noncompliant */
  font-stretch: 1Opx; /* Noncompliant */
  font-stretch: O; /* Noncompliant */
}