.mybox {
  image-rendering: inherit;
  image-rendering: auto;
  image-rendering: optimizeSpeed;
  image-rendering: optimizespeed;
  image-rendering: optimizeQuality;
  image-rendering: optimizequality;
  image-rendering: abc; /* Noncompliant */
  image-rendering: 10px; /* Noncompliant */
  image-rendering: 10; /* Noncompliant */
}
