.mybox {
  line-stacking-strategy: inherit;
  line-stacking-strategy: inline-line-height;
  line-stacking-strategy: block-line-height;
  line-stacking-strategy: max-height;
  line-stacking-strategy: grid-height;
  line-stacking-strategy: 10; /* Noncompliant !{Update the invalid value of property "line-stacking-strategy". Expected format: inline-line-height | block-line-height | max-height | grid-height}! */
  line-stacking-strategy: abc; /* Noncompliant */
}