.mybox {
  line-stacking: inherit;
  line-stacking: inline-line-height;
  line-stacking: consider-shifts;
  line-stacking: exclude-ruby;
  line-stacking: inline-line-height consider-shifts;
  line-stacking: inline-line-height exclude-ruby;
  line-stacking: inline-line-height consider-shifts exclude-ruby;
  line-stacking: inline-line-height consider-shifts exclude-ruby consider-shifts; /* Noncompliant */
  line-stacking: inline-line-height abc; /* Noncompliant */
  line-stacking: 10; /* Noncompliant */
  line-stacking: abc; /* Noncompliant */
}