.mybox {
  list-style: inherit;
  list-style: none;
  list-style: none url(http://mybox) "abc";
  list-style: none "abc" image();
  list-style: none abc image();
  list-style: none "abc" image() abc; /* Noncompliant !{Update the invalid value of property "list-style". Expected format: <list-style-type> || <list-style-position> || <list-style-image>}! */
  list-style: 10; /* Noncompliant */
  list-style: 10px; /* Noncompliant */
  list-style: abc image() 10px; /* Noncompliant */
}