.mybox {
  min-width: inherit;
  min-width: auto;
  min-width: 100%;
  min-width: -100%;
  min-width: 10px;
  min-width: -10px;
  min-width: 10; /* Noncompliant */
  min-width: none; /* Noncompliant */
  min-width: fill;
  min-width: max-content;
  min-width: min-content;
  min-width: fit-content;
}
