.mybox {
  min-zoom: inherit;
  min-zoom: auto;
  min-zoom: 10%;
  min-zoom: 10;
  min-zoom: -10; /* Noncompliant */
  min-zoom: -10%; /* Noncompliant */
  min-zoom: abc; /* Noncompliant */
  min-zoom: 10px; /* Noncompliant */
}