.mybox {
  outline-width: inherit;
  outline-width: thin;
  outline-width: medium;
  outline-width: thick;
  outline-width: 10px;
  outline-width: -10px; /* Noncompliant */
  outline-width: abc; /* Noncompliant */
}
