.mybox {
  outline-style: inherit;
  outline-style: none;
  outline-style: hidden;
  outline-style: dashed;
  outline-style: double;
  outline-style: groove;
  outline-style: ridge;
  outline-style: inset;
  outline-style: outset;
  outline-style: 10px; /* Noncompliant */
  outline-style: abc; /* Noncompliant */
  outline-style: auto;
}
