.mybox {
  overflow-y: inherit;
  overflow-y: visible;
  overflow-y: hidden;
  overflow-y: scroll;
  overflow-y: auto;
  overflow-y: 0; /* Noncompliant */
  overflow-y: 0px; /* Noncompliant */
  overflow-y: abc; /* Noncompliant */
}