.mybox {
  pause-after: inherit;
  pause-after: 3s;
  pause-after: -3s; /* Noncompliant */
  pause-after: 50.5%;
  pause-after: -50.5%; /* Noncompliant */
  pause-after: abc; /* Noncompliant */
  pause-after: 10px; /* Noncompliant */
}

.mybox {
  pause-before: inherit;
  pause-before: 3s;
  pause-before: -3s; /* Noncompliant */
  pause-before: 50.5%;
  pause-before: -50.5%; /* Noncompliant */
  pause-before: abc; /* Noncompliant */
  pause-before: 10px; /* Noncompliant */
}
