.mybox {
  pause-before: inherit;
  pause-before: 3s;
  pause-before: -3s; /* Noncompliant !{Update the invalid value of property "pause-before". Expected format: <time>(>=0) | <percentage>(>=0)}! */
  pause-before: 50.5%;
  pause-before: -50.5%; /* Noncompliant */
  pause-before: abc; /* Noncompliant */
  pause-before: 10px; /* Noncompliant */
}
