.mybox {
  pointer-events: inherit;
  pointer-events: visiblePainted;
  pointer-events: visiblepainted;
  pointer-events: visibleFill;
  pointer-events: visiblefill;
  pointer-events: visibleStroke;
  pointer-events: visiblestroke;
  pointer-events: visible;
  pointer-events: painted;
  pointer-events: fill;
  pointer-events: stroke;
  pointer-events: all;
  pointer-events: none;
  pointer-events: abc; /* Noncompliant !{Update the invalid value of property "pointer-events". Expected format: visiblepainted | visiblefill | visiblestroke | visible | painted | fill | stroke | all | none}! */
  pointer-events: 10px; /* Noncompliant */
}
