.mybox {
  stroke-linecap: inherit;
  stroke-linecap: butt;
  stroke-linecap: round;
  stroke-linecap: square;
  stroke-linecap: 100%; /* Noncompliant */
  stroke-linecap: 10px; /* Noncompliant */
  stroke-linecap: 10; /* Noncompliant */
  stroke-linecap: abc; /* Noncompliant */
}