.mybox {
  stroke-opacity: 0;
  stroke-opacity: 0.1;
  stroke-opacity: +0.1;
  stroke-opacity: 1.0;
  stroke-opacity: +1.0;
  stroke-opacity: -0.5; /* Noncompliant */
  stroke-opacity: +1.5; /* Noncompliant */
  stroke-opacity: 1.5; /* Noncompliant */
  stroke-opacity: inherit;
}
