.mybox {
  stroke-linejoin: inherit;
  stroke-linejoin: miter;
  stroke-linejoin: round;
  stroke-linejoin: bevel;
  stroke-linejoin: 100%; /* Noncompliant !{Update the invalid value of property "stroke-linejoin". Expected format: miter | round | bevel}! */
  stroke-linejoin: 10px; /* Noncompliant */
  stroke-linejoin: 10; /* Noncompliant */
  stroke-linejoin: abc; /* Noncompliant */
}