.mybox {
  tab-size: inherit;
  tab-size: 0;
  tab-size: 10;
  tab-size: 10px;
  tab-size: 10.5px;
  tab-size: -10; /* Noncompliant */
  tab-size: -10px; /* Noncompliant */
  tab-size: abc; /* Noncompliant */
}