.mybox {
  text-justify: inherit;
  text-justify: auto;
  text-justify: none;
  text-justify: inter-word;
  text-justify: inter-character;
  text-justify: abc; /* Noncompliant */
  text-justify: 10px; /* Noncompliant */
  text-justify: 10; /* Noncompliant */
}