.mybox {
  text-rendering: inherit;
  text-rendering: auto;
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  text-rendering: abc; /* Noncompliant */
  text-rendering: 10px; /* Noncompliant */
  text-rendering: 10; /* Noncompliant */
}