.mybox {
  writing-mode: inherit;
  writing-mode: horizontal-tb;
  writing-mode: vertical-rl;
  writing-mode: vertical-lr;
  writing-mode: lr-tb;
  writing-mode: rl-tb;
  writing-mode: tb-rl;
  writing-mode: lr;
  writing-mode: rl;
  writing-mode: tb;
  writing-mode: abc; /* Noncompliant !{Update the invalid value of property "writing-mode". Expected format: horizontal-tb | vertical-rl | vertical-lr | lr-tb | rl-tb | tb-rl | lr | rl | tb}! */
  writing-mode: -0.5; /* Noncompliant */
}
