.mybox {
  font-family: inherit;
  font-family: serif;
  font-family: sans-serif;
  font-family: "Arial";
  font-family: Helvetica;
  font-family: 0; /* Noncompliant {Update the invalid value of property "font-family". Expected format: [<family-name> | <generic-family>] [, <family-name>| <generic-family>]*}! */
  font-family: 10%; /* Noncompliant */
}