.mybox {
  margin: inherit;
  margin: auto;
  margin: 50%;
  margin: -50%;
  margin: 10pt;
  margin: -10pt;
  margin: 10; /* Noncompliant !{Update the invalid value of property "margin". Expected format: [ auto | fill | <length> | <percentage> ]{1,4}}! */
  margin: abc; /* Noncompliant */
  margin: 50% 50%;
  margin: 50% 50% 50%;
  margin: 50% 50% 50% 50%;
  margin: 50% 50% 50% 50% 50%; /* Noncompliant */
  margin: 50% 50% abc 50%; /* Noncompliant */
  margin: fill;
}