.mybox {
  stroke-miterlimit: inherit;
  stroke-miterlimit: 1;
  stroke-miterlimit: 1.0;
  stroke-miterlimit: 1000.4;
  stroke-miterlimit: 100%; /* Noncompliant !{Update the invalid value of property "stroke-miterlimit". Expected format: <number>(1.0,infinite)}! */
  stroke-miterlimit: 10px; /* Noncompliant */
  stroke-miterlimit: abc; /* Noncompliant */
  stroke-miterlimit: 0.5; /* Noncompliant */
  stroke-miterlimit: -0.5; /* Noncompliant */
}