.mybox {
  text-transform: inherit;
  text-transform: none;
  text-transform: capitalize;
  text-transform: uppercase;
  text-transform: lowercase;
  text-transform: full-width;
  text-transform: abc; /* Noncompliant !{Update the invalid value of property "text-transform". Expected format: capitalize | uppercase | lowercase | full-width | none}! */
  text-transform: 10; /* Noncompliant */
}