.mybox {
  text-align-last: inherit;
  text-align-last: auto;
  text-align-last: start;
  text-align-last: end;
  text-align-last: left;
  text-align-last: right;
  text-align-last: center;
  text-align-last: justify;
  text-align-last: abc; /* Noncompliant !{Update the invalid value of property "text-align-last". Expected format: auto | start | end | left | right | center | justify}! */
  text-align-last: 10; /* Noncompliant */
}
