@font-face {
}

@font-face {
  font-family: 'MyFontFamily';
}

@font-face {
  font-family: 'MyFontFamily';
  src: url('myfont.woff2') format('woff2'),
  url('myfont.woff')  format('woff');
}

@font-face {
  font-family: 'MyWebFont';
  src: url('myfont.woff2') format('woff2'),
       url('myfont.woff') format('woff'),
       url('myfont.ttf') format('truetype');
}

@font-face {
  font-family: 'MyWebFont';
  src: url('myfont.woff2') format('woff2'),
       url('myfont.woff') format('woff'),
       url('myfont.ttf') format('truetype'),
       url('myfont.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'MyWebFont';
  src: url('myfont.eot?#iefix') format('embedded-opentype'),
       url('myfont.woff2') format('woff2'),
       url('myfont.woff') format('woff'),
       url('myfont.ttf') format('truetype');
}

@font-face {
  font-family: 'MyWebFont';
  src: url('myfont.eot?#iefix') format('embedded-opentype'),
       url('myfont.woff2') format('woff2'),
       url('myfont.woff') format('woff'),
       url('myfont.ttf') format('truetype'),
       url('myfont.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'MyWebFont';
  src: url('myfont.eot');
  src: url('myfont.eot?#iefix') format('embedded-opentype'),
       url('myfont.woff2') format('woff2'),
       url('myfont.woff') format('woff'),
       url('myfont.ttf') format('truetype'),
       url('myfont.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'MyWebFont';
  src: url('myfont.woff2') format('woff2');    /* Noncompliant ![sc=3;ec=6;el=+0]! !{URL for "woff" format is expected.}! */
}

@font-face {
  font-family: 'MyWebFont';
  src: url('myfont.woff') format('woff');      /* Noncompliant ![sc=8;ec=26;el=+0]! !{URL for "woff2" format is expected.}! */
}

@font-face {
  font-family: 'MyWebFont';
  src: url('myfont.ttf') format('truetype');   /* Noncompliant ![sc=8;ec=25;el=+0]! !{URL for "woff2" format is expected.}! */
}

@font-face {
  font-family: 'MyWebFont';
  src: url('myfont.ttf') format('truetype'),   /* Noncompliant ![sc=8;ec=25;el=+0]! !{URL for "woff2" format is expected.}! */
       url('myfont.woff2') format('woff2');
}

@font-face {
  font-family: 'MyWebFont';
  src: url('myfont.woff2') format('woff2'),
       url('myfont.ttf') format('truetype'),   /* Noncompliant ![sc=8;ec=25;el=+0]! !{URL for "woff" format is expected.}! */
       url('myfont.woff') format('woff');
}

@font-face {
  font-family: 'MyWebFont';
  src: url('myfont.eot');
  src: url('myfont.eot?#iefix') format('embedded-opentype'),
       url('myfont.woff') format('woff');      /* Noncompliant ![sc=8;ec=26;el=+0]! !{URL for "woff2" format is expected.}! */
}

@font-face {
  font-family: 'MyWebFont';
  src: url('myfont.eot');
  src: local('font');    /* Noncompliant ![sc=3;ec=6;el=+0]! !{URL for "woff2" format is expected.}! */
}

@font-face {
  font-family: 'MyWebFont';
  src: url('myfont.woff2') format('woff2');
  src: url('myfont.woff2') format('woff2'),
       url('myfont.woff') format('woff');
}

@font-face {
  font-family: 'MyWebFont';
  src: local('font');
  src: url('myfont.woff2') format('woff2'),
       url('myfont.woff') format('woff');
}
