.mybox {
  background-position-y: inherit;
  background-position-y: 10px;
  background-position-y: -10px;
  background-position-y: 0;
  background-position-y: 10%;
  background-position-y: -10%;
  background-position-y: top;
  background-position-y: bottom;
  background-position-y: center;
  background-position-y: abc; /* Noncompliant !{Update the invalid value of property "background-position-y". Expected format: <length> | <percentage> | top | center | bottom}! */
  background-position-y: 10; /* Noncompliant */
}
