.mybox {
  flex-flow: inherit;
  flex-flow: nowrap;
  flex-flow: wrap;
  flex-flow: wrap-reverse;
  flex-flow: row;
  flex-flow: row-reverse;
  flex-flow: column;
  flex-flow: column-reverse;
  flex-flow: column-reverse nowrap;
  flex-flow: nowrap column-reverse;
  flex-flow: nowrap column-reverse nowrap; /* Noncompliant !{Update the invalid value of property "flex-flow". Expected format: <flex-direction> || <flex-wrap>}! */
  flex-flow: abc; /* Noncompliant */
  flex-flow: 10; /* Noncompliant */
  flex-flow: nowrap nowrap; /* Noncompliant */
}