.mybox {
  marker-end: inherit;
  marker-end: none;
  marker-end: url("abc");
  marker-end: url; /* Noncompliant !{Update the invalid value of property "marker-end". Expected format: none | <uri>}! */
  marker-end: 10px; /* Noncompliant */
}
