.mybox {
  color: blabla; /* Noncompliant */
  color: black, green; /* Noncompliant */
  color: abc(black);
  color: $abc;
  color: $abc black;
  color: black $abc;
  color: black, $abc;
  color: ($abc + 2);
  color: #{($abc + 2)};
  color: abc#{($abc + 2)}def;
  color: 3 * 2px;
}
