.mybox {
  animation-duration: inherit;
  animation-duration: 10s;
  animation-duration: 0;
  animation-duration: -10s; /* Noncompliant !{Update the invalid value of property "animation-duration". Expected format: <time>(>=0)}! */
  animation-duration: +10ms;
  animation-duration: 10; /* Noncompliant */
  animation-duration: 10.5; /* Noncompliant */
  animation-duration: abc; /* Noncompliant */
}