.mybox {
  display: inherit;
  display: none;
  display: inline;
  display: block;
  display: list-item;
  display: inline-block;
  display: inline-table;
  display: table;
  display: table-caption;
  display: table-cell;
  display: table-column;
  display: table-column-group;
  display: table-footer-group;
  display: table-header-group;
  display: table-row;
  display: table-row-group;
  display: flex;
  display: inline-flex;
  display: ruby;
  display: ruby-base;
  display: ruby-text;
  display: ruby-base-container;
  display: ruby-text-container;
  display: ruby-base;
  display: compact;
  display: marker;
  display: -ms-flexbox;
  display: abc; /* Noncompliant !{Update the invalid value of property "display". Expected format: inline | block | list-item | inline-block | table | inline-table | table-row-group | table-header-group | table-footer-group | table-row | table-column-group | table-column | table-cell | table-caption | none | flex | inline-flex | grid | inline-grid | run-in | contents | ruby | ruby-base | ruby-text | ruby-base-container | ruby-text-container | compact | marker}! */
  display: 0; /* Noncompliant */
}