.mybox {
  font-variant-caps: inherit;
  font-variant-caps: normal;
  font-variant-caps: small-caps;
  font-variant-caps: all-small-caps;
  font-variant-caps: petite-caps;
  font-variant-caps: all-petite-caps;
  font-variant-caps: unicase;
  font-variant-caps: titling-caps;
  font-variant-caps: 10%; /* Noncompliant !{Update the invalid value of property "font-variant-caps". Expected format: normal | small-caps | all-small-caps | petite-caps | all-petite-caps | unicase | titling-caps}! */
  font-variant-caps: none; /* Noncompliant */
  font-variant-caps: 10; /* Noncompliant */
}
