.mybox {
  touch-action: inherit;
  touch-action: none;
  touch-action: auto;
  touch-action: manipulation;
  touch-action: pan-x;
  touch-action: pan-y;
  touch-action: pan-x pan-y;
  touch-action: pan-y pan-x;
  touch-action: pan-y pan-x blabla; /* Noncompliant !{Update the invalid value of property "touch-action". Expected format: auto | none | [pan-x || pan-y] | manipulation}! */
  touch-action: pan-y manipulation; /* Noncompliant */
  touch-action: blabla; /* Noncompliant */
  touch-action: 10px; /* Noncompliant */
}
