div {
    color: green;
}

DIV {
    color: green;
}

view {
    color: green;
}

blabla { /* Noncompliant ![sc=1;ec=7;el=+0]! !{Remove this usage of the unknown "blabla" type selector.}!*/
    color: green;
}
