@font-face {
}

@font-face {
 font-family: 'MyFontFamily';
}

@font-face {
  font-family: 'MyWebFont';
  src: url('myfont.eot');
  src: url('myfont.eot?#iefix') format('embedded-opentype'),
       url('myfont.woff2') format('woff2'),
       url('myfont.woff') format('woff'),
       url('myfont.ttf') format('truetype'),
       url('myfont.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'MyWebFont';
  src: url('myfont.eot');
  src: url('myfont.woff2') format('woff2');    /* Noncompliant: 'eot' format is missing */
}

@font-face {
  font-family: 'MyWebFont';
  src: url('myfont.eot');
  src: url('myfont.eot?#iefix') format('embedded-opentype'),
       url('myfont.woff') format('woff'),      /* Noncompliant: 'woff2' format is expected */
       url('myfont.ttf') format('truetype'),
       url('myfont.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'MyWebFont';
  src: url('myfont.eot');
  src: url('myfont.eot?#iefix') format('embedded-opentype'),
       url('myfont.woff2') format('woff2'),
       url('myfont.ttf') format('truetype'),  /* Noncompliant: 'woff' format is expected */
       url('myfont.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'MyWebFont';
  src: url('myfont.eot');
  src: url('myfont.eot?#iefix') format('embedded-opentype'),
       url('myfont.woff2') format('woff2'),
       url('myfont.woff') format('woff'),
       url('myfont.svg#svgFontName') format('svg'); /* Noncompliant: 'ttf' format is expected */
}

@font-face {
  font-family: 'MyWebFont';
  src: url('myfont.eot');
  src: url('myfont.eot?#iefix') format('embedded-opentype'),
       url('myfont.woff2') format('woff2'),
       url('myfont.woff') format('woff'),
       url('myfont.ttf') format('truetype');  /* Noncompliant: 'svg' format is missing */
}


@font-face {
  font-family: 'MyWebFont';
  src: url('myfont.eot?#iefix') format('embedded-opentype'),
       url('myfont.woff2') format('woff2'),
       url('myfont.woff') format('woff'),
       url('myfont.ttf') format('truetype'),
       url('myfont.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'MyWebFont';
  src: url('myfont.woff');
  src: url('myfont.eot?#iefix') format('embedded-opentype'),
       url('myfont.woff2') format('woff2'),
       url('myfont.woff') format('woff'),
       url('myfont.ttf') format('truetype'),
       url('myfont.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'MyWebFont';
  src: url('myfont.eot') format('embedded-opentype');
  src: url('myfont.eot?#iefix') format('embedded-opentype'),
       url('myfont.woff2') format('woff2'),
       url('myfont.woff') format('woff'),
       url('myfont.ttf') format('truetype'),
       url('myfont.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'MyWebFont';
  src: url('myfont.eot');
  src: locale('font');
}
