.mybox {
  border-right-color: inherit;
  border-right-color: red;
  border-right-color: rgb(25,25,25);
  border-right-color: 10px; /* Noncompliant !{Update the invalid value of property "border-right-color". Expected format: <color>}! */
  border-right-color: abc; /* Noncompliant */
}
