.mybox {
  stop-opacity: 0;
  stop-opacity: 0.1;
  stop-opacity: +0.1;
  stop-opacity: 1.0;
  stop-opacity: +1.0;
  stop-opacity: -0.5; /* Noncompliant !{Update the invalid value of property "stop-opacity". Expected format: <number>(0.0,1.0)}! */
  stop-opacity: +1.5; /* Noncompliant */
  stop-opacity: 1.5; /* Noncompliant */
  stop-opacity: inherit;
}
