.mybox {
  animation-fill-mode: inherit;
  animation-fill-mode: none;
  animation-fill-mode: forwards;
  animation-fill-mode: backwards;
  animation-fill-mode: both;
  animation-fill-mode: abc; /* Noncompliant !{Update the invalid value of property "animation-fill-mode". Expected format: none | forwards | backwards | both}! */
  animation-fill-mode: 10; /* Noncompliant */
}