.mybox {
  background-origin: inherit;
  background-origin: border-box;
  background-origin: padding-box;
  background-origin: content-box;
  background-origin: 10px; /* Noncompliant !{Update the invalid value of property "background-origin". Expected format: <box> [, <box>]*}! */
  background-origin: 10; /* Noncompliant */
  //FIXME
  //background-origin: border-box, padding-box
}
