.mybox {
  clip-path: inherit;
  clip-path: none;
  clip-path: url("abc");
  clip-path: inset();
  clip-path: circle();
  clip-path: ellipse();
  clip-path: polygon();
  clip-path: content-box;
  clip-path: padding-box;
  clip-path: border-box;
  clip-path: margin-box;
  clip-path: url; /* Noncompliant !{Update the invalid value of property "clip-path". Expected format: none | <uri> | <shape-box> | <function>(circle | ellipse | inset | polygon)}! */
  clip-path: 10%; /* Noncompliant */
  clip-path: 10px; /* Noncompliant */
}
