.mybox {
  column-rule-width: inherit;
  column-rule-width: thin;
  column-rule-width: medium;
  column-rule-width: thick;
  column-rule-width: 10px;
  column-rule-width: -10px; /* Noncompliant !{Update the invalid value of property "column-rule-width". Expected format: thin | medium | thick | <length>(>=0)}! */
  column-rule-width: abc; /* Noncompliant */
}
