.mybox {
  column-width: inherit;
  column-width: auto;
  column-width: fill;
  column-width: min-content;
  column-width: max-content;
  column-width: fit-content;
  column-width: fit-content(10%);
  column-width: 10px;
  column-width: 10; /* Noncompliant !{Update the invalid value of property "column-width". Expected format: auto | <length>(>=0) | fill | max-content | min-content | fit-content | <function>(fit-content)}! */
  column-width: none; /* Noncompliant */
  column-width: -10px; /* Noncompliant */
}
