.mybox {
  font-size: inherit;
  font-size: xx-small;
  font-size: x-small;
  font-size: small;
  font-size: medium;
  font-size: large;
  font-size: x-large;
  font-size: xx-large;
  font-size: larger;
  font-size: smaller;
  font-size: 10px;
  font-size: 1.5em;
  font-size: 0;
  font-size: 10%;
  font-size: 10.5%;
  font-size: abc; /* Noncompliant !{Update the invalid value of property "font-size". Expected format: xx-small | x-small | small | medium | large | x-large | xx-large | larger | smaller | <length>(>=0) | <percentage>(>=0)}! */
  font-size: 10; /* Noncompliant */
  font-size: -10px; /* Noncompliant */
  font-size: -10%; /* Noncompliant */
}