.mybox {
  list-style-position: inherit;
  list-style-position: inside;
  list-style-position: outside;
  list-style-position: abc; /* Noncompliant !{Update the invalid value of property "list-style-position". Expected format: inside | outside}! */
  list-style-position: 10; /* Noncompliant */
}