.mybox {
  text-justify: inherit;
  text-justify: auto;
  text-justify: none;
  text-justify: inter-word;
  text-justify: inter-character;
  text-justify: abc; /* Noncompliant !{Update the invalid value of property "text-justify". Expected format: auto | none | inter-word | inter-character}! */
  text-justify: 10px; /* Noncompliant */
  text-justify: 10; /* Noncompliant */
}