.mybox {
  animation: inherit;
  animation: slidein;
  animation: slidein !important;
  animation: fadein .5s, fadeout 1s;
  animation: slidein 3s;
  animation: slidein 3s ease-in;
  animation: slidein 3s ease-in 1s;
  animation: slidein 3s ease-in 1s 2;
  animation: slidein 3s ease-in 1s 2 reverse;
  animation: slidein 3s ease-in 1s 2 reverse both;
  animation: slidein 3s ease-in 1s 2 reverse both paused;
  animation: slidein 3s ease-in 1s 2 reverse both paused !important;
  animation: slidein 3s ease-in 1s 2 reverse both paused paused; /* Noncompliant !{Update the invalid value of property "animation". Expected format: [ <time> || <single-timing-function> || <time> || <single-animation-iteration-count> || <single-animation-direction> || <single-animation-fill-mode> || <single-animation-play-state> || <single-animation-name> ]#}! */
  animation: slidein 3Hz; /* Noncompliant */
  animation: slidein, slidein;
  animation: slidein, slidein 3s ease-in 1s 2 reverse both paused paused, slidein; /* Noncompliant */
  animation: slidein, slidein, slidein;
  animation: slidein, slidein 3s 3s, slidein, slidein, slidein, slidein, slidein, slidein, slidein;
  animation: slidein, slidein, slidein, slidein 3Hz, slidein, slidein, slidein, slidein, slidein; /* Noncompliant */
}
