.mybox {
  background-clip: inherit;
  background-clip: border-box;
  background-clip: padding-box;
  background-clip: content-box;
  background-clip: 10px; /* Noncompliant !{Update the invalid value of property "background-clip". Expected format: <box>#}! */
  background-clip: 10; /* Noncompliant */
  background-clip: border-box, padding-box

}