.mybox {
  color: red;
  COLOR: red; /* Noncompliant ![sc=3;ec=8;el=+0]! !{Write property "COLOR" in lowercase.}! */
  Color: red; /* Noncompliant ![sc=3;ec=8;el=+0]! !{Write property "Color" in lowercase.}! */
  CoLor: red; /* Noncompliant ![sc=3;ec=8;el=+0]! !{Write property "CoLor" in lowercase.}! */
  *color: red;
  *Color: red; /* Noncompliant ![sc=3;ec=9;el=+0]! !{Write property "*Color" in lowercase.}! */
  background-color: red;
  Background-color: red; /* Noncompliant ![sc=3;ec=19;el=+0]! !{Write property "Background-color" in lowercase.}! */
  color: rgb(255,255,255);
  color: RGB(255,255,255); /* Noncompliant ![sc=10;ec=13;el=+0]! !{Write function "RGB" in lowercase.}! */
  color: basicimage();
  color: BasicImage();
  color: basicImage(); /* Noncompliant ![sc=10;ec=20;el=+0]! !{Write function "basicImage" in lowercase.}! */
  color: rotatex();
  color: rotateX();
  color: RotateX(); /* Noncompliant ![sc=10;ec=17;el=+0]! !{Write function "RotateX" in lowercase.}! */
}

@KEYFRAMES keyframes {} /* Noncompliant ![sc=1;ec=11;el=+0]! !{Write @-rule keyword "KEYFRAMES" in lowercase.}! */

div {}
DIV {} /* Noncompliant ![sc=1;ec=4;el=+0]! !{Write type selector "DIV" in lowercase.}! */

a:hover {}
a:Hover {} /* Noncompliant ![sc=3;ec=8;el=+0]! !{Write identifier "Hover" in lowercase.}! */

a:not() {}
a:Not() {} /* Noncompliant ![sc=3;ec=6;el=+0]! !{Write function "Not" in lowercase.}! */

.mybox1 {
  width: 10PX; /* Noncompliant ![sc=12;ec=14;el=+0]! !{Write unit "PX" in lowercase.}! */
}
.mybox2 {
  width: 10px;
}
