.mybox {
  baseline-shift: inherit;
  baseline-shift: sub;
  baseline-shift: super;
  baseline-shift: 10%;
  baseline-shift: -10%;
  baseline-shift: 10px;
  baseline-shift: -10px;
  baseline-shift: abc; /* Noncompliant !{Update the invalid value of property "baseline-shift". Expected format: sub | super | <length> | <percentage>}! */
  baseline-shift: 10; /* Noncompliant */
}
