.mybox {
  content-zoom-chaining: inherit;
  content-zoom-chaining: none;
  content-zoom-chaining: chained;
  content-zoom-chaining: abc; /* Noncompliant !{Update the invalid value of property "content-zoom-chaining". Expected format: none | chained}! */
  content-zoom-chaining: 10; /* Noncompliant */
}
