.mybox {
  lighting-color: inherit;
  lighting-color: red;
  lighting-color: darkgrey;
  lighting-color: #f03;
  lighting-color: #F03;
  lighting-color: #ff0033;
  lighting-color: #FF0033;
  lighting-color: #GF0033; /* Noncompliant !{Update the invalid value of property "lighting-color". Expected format: <color>}! */
  lighting-color: #FF04033; /* Noncompliant */
  lighting-color: abc; /* Noncompliant */
  lighting-color: rgb(255, 0,51);
  lighting-color: rgba(255, 0,51,0.5);
  lighting-color: hsl(0,100%,15%);
  lighting-color: hsla(0,100%,15%,0.5);
  lighting-color: hello(); /* Noncompliant */
  lighting-color: transparent;
  lighting-color: currentColor;
  lighting-color: currentcolor;
  lighting-color: Background;
  lighting-color: background;
  lighting-color: ThreeDShadow;
  lighting-color: threedshadow;
}
