.mybox {
  pause-after: inherit;
  pause-after: 3s;
  pause-after: none;
  pause-after: x-weak;
  pause-after: weak;
  pause-after: medium;
  pause-after: strong;
  pause-after: x-strong;
  pause-after: -3s; /* Noncompliant !{Update the invalid value of property "pause-after". Expected format: <time>(>=0) | none | x-weak | weak | medium | strong | x-strong}! */
  pause-after: 50.5%; /* Noncompliant */
  pause-after: abc; /* Noncompliant */
  pause-after: 10px; /* Noncompliant */
}
