.mybox {
  border-radius: inherit;
  border-radius: 10px;
  border-radius: 10px 10px;
  border-radius: 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  border-radius: 10px / 10px;
  border-radius: 10px / 10px 10px;
  border-radius: 10px / 10px 10px 10px;
  border-radius: 10px / 10px 10px 10px 10px;
  border-radius: 10px 10px/ 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px 10px; /* Noncompliant */
  border-radius: abc; /* Noncompliant */
}
