.mybox {
  filter: inherit;
  filter: none;
  filter: url(http://mybox.com);
  filter: url(http://mybox.com) url(http://mybox.com);
  filter: blur(1px);
  filter: blur(1px) grayscale(50%);
  filter: blur(1px) grayscale(50%);
  filter: blur(1px) url(http://mybox.com);
  filter: blur(1px) url(http://mybox.com) url(http://mybox.com);
  filter: url(http://mybox.com) url(http://mybox.com) blur(1px);
  filter: none 10px; /* Noncompliant */
  filter: 10px; /* Noncompliant */
  filter: alpha(opacity=50);
  filter: Alpha(opacity=50);
  filter: Alpha(opacity=50) blur(1px);
  filter: Alpha(opacity=50) !important;
}