<p>
    This rule template can be used to create rules which will be triggered when a property matches a given regular
    expression.
</p>
<p>
    For example, one can create a rule with the regular expression <code>.*animation.*</code> to match all the
    animation properties (to warn developers not to use them for some reasons for instance).
</p>
<p>
    Note that, in order to match "animation" regardless of the case, the <code>(?i)</code> modifier can be prepended
    to the expression, as in <code>(?i).*animation.*</code>.
</p>
<p>
    See <a target="_blank" href="http://docs.oracle.com/javase/8/docs/api/java/util/regex/Pattern.html">Java
    documentation</a> for detailed regular expression syntax.
</p>

[begin-less]
<h2>Exceptions</h2>
<p>
    Less interpolated properties are not checked against this rule. For instance, the following piece of code does not
    raise an issue when the regular expression is set to <code>(?i).*animation.*</code>:
</p>
<pre>
.mybox {
  foo-@{animation}-bar: green;
}
</pre>
[end-less]

[begin-scss]
<h2>Exceptions</h2>
<p>
    SCSS interpolated properties are not checked against this rule. For instance, the following piece of code does not
    raise an issue when the regular expression is set to <code>(?i).*animation.*</code>:
</p>
<pre>
.mybox {
  foo-#{$animation}-bar: green;
}
</pre>
[end-scss]

<h2>stylelint Related Rules</h2>
<ul>
    <li><a href="https://stylelint.io/user-guide/rules/property-blacklist/" target="_blank">property-blacklist</a></li>
    <li><a href="https://stylelint.io/user-guide/rules/property-whitelist/" target="_blank">property-whitelist</a></li>
</ul>
