$abc: green;
$my-color: green;
$myColor: green; /* Noncompliant ![sc=2;ec=9;el=+0]! !{Rename variable "myColor" to match the regular expression: ^[a-z][-a-z0-9]*$}! */
$my_color: green; /* Noncompliant ![sc=2;ec=10;el=+0]! !{Rename variable "my_color" to match the regular expression: ^[a-z][-a-z0-9]*$}! */
