.mybox {
  background-image: inherit;
  background-image: none;
  background-image: none !important;
  background-image: url(http://mybox);
  background-image: url(http://mybox) !important;
  background-image: url(http://mybox), url(http://mybox);
  background-image: url(http://mybox), url(http://mybox), url(http://mybox);
  background-image: 10; /* Noncompliant !{Update the invalid value of property "background-image". Expected format: none | <image>#}! */
  background-image: 10, 10; /* Noncompliant */
  background-image: image();
  background-image: image-set();
  background-image: cross-fade();
  background-image: element();
  background-image: linear-gradient();
  background-image: repeating-linear-gradient();
  background-image: radial-gradient();
  background-image: repeating-radial-gradient();
  background-image: repeating-radial-gradient(), element(), url(http://mybox);
  background-image: abc(); /* Noncompliant */
  background-image: -moz-linear-gradient();
  background-image: -moz-abc();
}
