.mybox {
  background-position: inherit;
  background-position: top;
  background-position: bottom;
  background-position: center;
  background-position: left;
  background-position: right;
  background-position: 10%;
  background-position: -10%;
  background-position: 10px;
  background-position: -10px;
  background-position: abc; /* Noncompliant !{Update the invalid value of property "background-position". Expected format: [ [ left | center | right | top | bottom | <length> | <percentage> ] | [ left | center | right | <length> | <percentage> ] [ top | center | bottom | <length> | <percentage> ] | [ center | [ left | right ] [ <length> | <percentage> ]? ] && [ center | [ top | bottom ] [ <length> | <percentage>]? ] ]}! */
  background-position: 10; /* Noncompliant */
  background-position: bottom abc; /* Noncompliant */
  background-position: center center;
  background-position: right bottom;
  background-position: center bottom;
  background-position: bottom top; /* Noncompliant */
  background-position: right right; /* Noncompliant */
  background-position: 10px 15px;
  background-position: 10% 10%;
  background-position: center 10%;
  background-position: 10% bottom;
  background-position: 10% right; /* Noncompliant */
  background-position: center top 10px;
  background-position: right 10px top 10px;
  background-position: right top 10px;
  background-position: right 10px top;
  background-position: 10px 10px 10px; /* Noncompliant */
  background-position: 10px 10px 10px 10px; /* Noncompliant */
  background-position: 10px right bottom; /* Noncompliant */
  background-position: center 10px bottom; /* Noncompliant */
  background-position: center 10px bottom 10px; /* Noncompliant */
  background-position: right 10px center 10px; /* Noncompliant */
  background-position: right 10px center;
  background-position: center right 10px;
  background-position: right top 10px 10px; /* Noncompliant */
  background-position: right 10px 10px; /* Noncompliant */
  background-position: right 10px 10px bottom; /* Noncompliant */
}
