.mybox {
  flex-shrink: inherit;
  flex-shrink: 10;
  flex-shrink: 10.5;
  flex-shrink: 0;
  flex-shrink: abc; /* Noncompliant !{Update the invalid value of property "flex-shrink". Expected format: <number>(>=0)}! */
  flex-shrink: -10; /* Noncompliant */
  flex-shrink: -10.5; /* Noncompliant */
}