.mybox {
  shape-outside: inherit;
  shape-outside: none;
  shape-outside: url(http://mybox);
  shape-outside: circle();
  shape-outside: margin-box;
  shape-outside: circle() margin-box;
  shape-outside: margin-box circle();
  shape-outside: polygon() border-box;
  shape-outside: border-box polygon();
  shape-outside: border-box url(http://mybox); /* Noncompliant !{Update the invalid value of property "shape-outside". Expected format: none | [<basic-shape> || <shape-box>] | <image>}! */
  shape-outside: url(http://mybox) border-box; /* Noncompliant */
  shape-outside: url(http://mybox) url(http://mybox) border-box; /* Noncompliant */
  shape-outside: none none; /* Noncompliant */
  shape-outside: abc; /* Noncompliant */
  shape-outside: 10; /* Noncompliant */
}